//primary = #FF9900;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;

  .list {
    width: 250;
  }

  .backgroundGrey {
    background-color: #ffda9938;
  }
  .paddingContainer {
    padding: 50px 20px;
  }
  header {
    img {
      height: 40px;
    }
  }
  .leftBar {
    .dividerColor {
      background-color: #ff9900;
      width: 75%;
      margin: auto;
    }
    a {
      color: inherit;
      display: inherit;
    }
  }
  .card {
    border: 1px solid #ff9900;
    padding: 15px;

    .MuiCardMedia-root {
      height: 150px;
    }
    .buttonCard {
      width: 100%;

      .linkCard {
        color: #388e3c;
      }
    }
  }

  .loader {
    width: "100%", "& > * + *" {
      margin-top: "20px";
    }
  }

  footer {
    width: 100%;
    .madewithlove {
      color: #f44336;
      margin: 20px auto auto auto;
    }
  }
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
